<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Chess for desktop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Chess.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B85A2451CB58395001C619D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B85A25F1CB58396001C619D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B85A26A1CB58396001C619D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BB441011CB578480099837C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BB4411C1CB578480099837C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BB441271CB578480099837C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
